.list {
    height:  15rem;
    width:  100%;
    overflow: hidden;
 }

 .arrow {
    height: 14px;
    width:  14px;
    border: solid #F7F7F7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    top: 130px;
    left: 0;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    top: -130px;
    left: 0;
  }


