@import './variable';

* {
    font-family: 'NotoSans-Bold', Arial, sans-serif !important;
  }

  @mixin float($float) {
      float: $float
  }
  @mixin position($position) {
      position: $position;
  }
  @mixin height($height) {
    height: $height;
  }
  @mixin width($width) {
    width: $width;
  }
  @mixin display($display) {
    display: $display;
  }
  @mixin overflow ($overflow) {
      overflow: $overflow;
  }

body,
html {
  background: $background_color !important;
}

p, h2, h1 {
    color: $font_color;
    transition: all 300ms ease-in-out;
    font-size: baseFontSize(24);
  
    &:hover {
      color: $border_color !important;
    }
}

.cursor-pointer {
  cursor: pointer;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.m-1 {
  margin: 1rem;
}


