@import './variable';

* {
    font-family: 'NotoSans-Bold', Arial, sans-serif !important;
  }

  @mixin baseFontSize($font) {
    // html {
      font-size: #{$font}px !important;
    // }
  }

body,
html {
  background: $background_color !important;
}

p, h2, h1 {
    color: $font_color;
    transition: all 300ms ease-in-out;
    font-size: baseFontSize(24);
  
    &:hover {
      color: $border_color !important;
    }
}


.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  height: 14px;
  width: 14px;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
