@import './variable';

* {
    font-family: 'NotoSans-Bold', Arial, sans-serif !important;
  }

  @mixin float($float) {
      float: $float
  }
  @mixin position($position) {
      position: $position;
  }
  @mixin height($height) {
    height: $height;
  }
  @mixin width($width) {
    width: $width;
  }
  @mixin display($display) {
    display: $display;
  }
  @mixin overflow ($overflow) {
      overflow: $overflow;
  }

body,
html {
  background: $background_color !important;
  margin: 0.5rem;
}

p, h2, h1 {
    color: $font_color;
    transition: all 300ms ease-in-out;
    font-size: 24px;
  
    &:hover {
      color: $border_color !important;
    }

    @media screen and (max-width: $small) {
      font-size: 40px !important;
    }
    @media screen and (max-width: $medium) {
        font-size: 35px !important;
    }
}
img {
  @media screen and (max-width: $small) {
      width: 100px !important;
  }
  @media screen and (max-width: $medium) {
      width: 120px !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.m-1 {
  margin: 1rem;
}

.p-1 {
  padding: 1rem;
}
.p-7 {
  padding: 7rem;
}
.p-4 {
  padding: 4rem;
}

.text-align-center {
  text-align: center;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


